.main {
    display:grid;
    grid-template-rows:1vw 30vw 30vw; 
    background-color:azure;
}

#header {
    justify-self: center;
}

#mainContent {
    justify-self: center;
}

#footer {
    justify-self: center;
}