.main {
    display:grid;
    background-color:cyan;
    height:100%;
}

#header {
    justify-self: center;
}

#mainContent {
    justify-self: center;
}

#projectsContainer {
    justify-self: center;
}