.main {
    display:grid;
    grid-template-columns:;
    grid-template-rows:;
    background-color:cyan;
}

#header {
    justify-self: center;
}

#mainContent {
    justify-self: center;
}

#projectsContainer {
    justify-self: center;
}
